.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/images/Background.png');
    background-size: cover;
  }
  